<div class="container">
  <div class="row">
    <div class="col">
      <div class="border shadow mt-4 p-4">
        <form #emailForm="ngForm" (ngSubmit)="onSubmit()">
          <input 
          class="form-control"
          type="email"
        
        required
        name="email"
        [(ngModel)]="email"
        #emailControl="ngModel"
          >
          <button [disabled]="emailForm.invalid" class="btn btn-primary mt-2">Submit</button>

          <ng-container *ngIf="emailControl.invalid && emailControl.touched">
            <div *ngIf="$any(emailControl).controls['email'].required">
                you must enter the email
            </div>
          </ng-container>
        </form>
        <div>{{emailForm.valid}}</div>
        <div>{{ emailForm.value | json }}</div>
        <div>Email validation Errors: {{ emailForm.controls?.['email']?.errors | json}}</div>
      </div>
    </div>
  </div>
</div>
          